flow.json
[{"id":"bf959eb3.6b40b","type":"tab","label":"Google Now"},{"id":"99f656ab.40cee8","type":"http in","z":"bf959eb3.6b40b","name":"Request","url":"/google","method":"get","upload":false,"swaggerDoc":"","x":85,"y":109,"wires":[["a7037cef.99ebc8","af54f71c.1f764"]]},{"id":"85aeda17.6b70c8","type":"http response","z":"bf959eb3.6b40b","name":"Response","x":948,"y":103,"wires":[]},{"id":"a7037cef.99ebc8","type":"debug","z":"bf959eb3.6b40b","name":"","active":true,"console":"false","complete":"req.query.text","x":340,"y":36,"wires":[]},{"id":"cd7fe47b.78c3f8","type":"inject","z":"bf959eb3.6b40b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":238,"wires":[["ae3a44f6.9fbcf8"]]},{"id":"af54f71c.1f764","type":"function","z":"bf959eb3.6b40b","name":"Analyze voice command","func":"var temp = msg.req.query.text;\nmsg.payload.command = 0;\nmsg.payload.success = false;\n\n// removing rubbish\ntemp = temp.toLowerCase();\ntemp = temp.replace(\"a \",\"\");\ntemp = temp.replace(\"the \",\"\");\ntemp = temp.replace(\"to \",\"\");\ntemp = temp.replace(\"home \",\"\");\ntemp = temp.replace(\"lights\",\"light\");\n\n// check if the command is to turn something on/off\nif (temp.indexOf(\"turn\")>-1) {\n    temp = temp.replace(\"turn \",\"\");\n    msg.payload.command = 1;\n}\nif (temp.indexOf(\"switch\")>-1) {\n    temp = temp.replace(\"switch \",\"\");\n    msg.payload.command = 1;\n}\n\n// check if the command is about the solar panels\nif (temp.indexOf(\"solar\")>-1) {\n    temp = temp.replace(\"solar \",\"\");\n    msg.payload.command = 2;\n}\n\n// let's try finding the thing and state\n// the turn/switch commands are expected as 'turn <state> the <thing>'\nvar lastIndex= temp.indexOf(\" \");\nvar voice_state = temp.substring(0, lastIndex).trim();\nvar voice_thing = temp.substring(lastIndex+1,temp.length).trim();\n\n// evaulate the state\nif (voice_state===\"on\") {\n    msg.payload.command_value = \"1\";\n}\nif (voice_state===\"off\") {\n    msg.payload.command_value = \"0\";\n}\n\n// handle the solar request\nif (msg.payload.command===2) {\n    msg.payload.response=\"The solar system is currently generating \" + global.get(\"growatt_power\") + \" watts. Total generation today is \" + global.get(\"growatt_today\") + \" kilowatt hours.\";\n}\n\n// handle the switch commands\nif (msg.payload.command===1) {\n    switch (voice_thing) {\n        case \"christmas light\":\n            msg.payload.response=\"OK, turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = true;\n            msg.payload.command_thing=\"Sonoff1\";\n            break;\n        case \"test light\":\n            msg.payload.response=\"OK, turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = true;\n            msg.payload.command_thing=\"Test\";\n            break;\n        default:\n            msg.payload.response=\"Sorry, I did not understand turning \" + voice_state + \" the \" + voice_thing;\n            msg.payload.success = false;\n            break;\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":104,"wires":[["253c63bb.9b410c","26d06513.4176ca","c34bd382.f93f1"]]},{"id":"253c63bb.9b410c","type":"debug","z":"bf959eb3.6b40b","name":"","active":true,"console":"false","complete":"false","x":864,"y":211,"wires":[]},{"id":"26d06513.4176ca","type":"switch","z":"bf959eb3.6b40b","name":"Check if command was valid","property":"payload.success","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":423,"y":311,"wires":[["df8f7327.85d298"]]},{"id":"df8f7327.85d298","type":"switch","z":"bf959eb3.6b40b","name":"Check command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":3,"x":128,"y":411,"wires":[["2cf1c873.cd00f","658c113f.5444c8"],[],[]]},{"id":"2cf1c873.cd00f","type":"switch","z":"bf959eb3.6b40b","name":"Christmas light?","property":"payload.command_thing","propertyType":"msg","rules":[{"t":"eq","v":"Sonoff1","vt":"str"}],"checkall":"true","outputs":1,"x":399,"y":398,"wires":[["b9d5b4b0.50dcc8"]]},{"id":"b9d5b4b0.50dcc8","type":"function","z":"bf959eb3.6b40b","name":"Put value to payload","func":"msg.payload = msg.payload.command_value;\nreturn msg;","outputs":1,"noerr":0,"x":618,"y":399,"wires":[["2badb4f2.b90f04"]]},{"id":"c34bd382.f93f1","type":"function","z":"bf959eb3.6b40b","name":"Put response into payload","func":"msg.payload = msg.payload.response;\nreturn msg;","outputs":1,"noerr":0,"x":697,"y":103,"wires":[["85aeda17.6b70c8"]]},{"id":"ae3a44f6.9fbcf8","type":"function","z":"bf959eb3.6b40b","name":"Move value","func":"msg.req.query.text = \"home turn on the christmas light\"\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":173,"wires":[["af54f71c.1f764"]]},{"id":"2badb4f2.b90f04","type":"link out","z":"bf959eb3.6b40b","name":"","links":["2bd7b670.60308a"],"x":856.4999694824219,"y":397.6666488647461,"wires":[]},{"id":"658c113f.5444c8","type":"switch","z":"bf959eb3.6b40b","name":"Test light?","property":"payload.command_thing","propertyType":"msg","rules":[{"t":"eq","v":"Test","vt":"str"}],"checkall":"true","outputs":1,"x":393.6666564941406,"y":465.6666564941406,"wires":[["b0331d4c.90b48"]]},{"id":"b0331d4c.90b48","type":"function","z":"bf959eb3.6b40b","name":"Put value to payload","func":"//msg.payload = msg.payload.command_value;\nmsg.url = \"http://192.168.1.133/control?cmd=gpio,12,\"+msg.payload.command_value;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.url});\nreturn msg;","outputs":1,"noerr":0,"x":622.6666564941406,"y":466.6666564941406,"wires":[["edaf1315.2ed92"]]},{"id":"edaf1315.2ed92","type":"http request","z":"bf959eb3.6b40b","name":"","method":"GET","ret":"txt","url":"","x":965.4999694824219,"y":465.6666488647461,"wires":[[]]},{"id":"2a90fb34.1eefe4","type":"http in","z":"bf959eb3.6b40b","name":"","url":"/teste","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["d097ec36.6680f8"]]},{"id":"d097ec36.6680f8","type":"template","z":"bf959eb3.6b40b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","output":"str","x":280,"y":560,"wires":[["f8bb35bb.8758a8"]]},{"id":"f8bb35bb.8758a8","type":"http response","z":"bf959eb3.6b40b","name":"","statusCode":"","headers":{},"x":540,"y":560,"wires":[]}]